.event-heading {
    font-family: var(--dancing-font);
    font-size: 44px;
    color: rgb(157, 44, 63);
    margin-bottom: 32px;
}

.frame-img {
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: path(var(--heart));
    overflow: hidden;
    max-width: 300px;
    max-height: 280px;
    animation: scale 0.5s ease-in-out 8s infinite;

    :global {
        img {
            object-fit: cover;
        }
    }
}

@keyframes scale {
    0%,100% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
}


.frame-img-badge {
    clip-path: path(var(badge));
}

.link-highlight {
    color: #3D155F;
    padding-bottom: 4px;
    border-bottom: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
    transition: all 1s infinite ease-in-out;

    &:hover {
        scale: 1.05;
    }
}

.date-time {
    color: #3D155F;
}

.section-title {
    color: #3D155F;
    font-family: var(--dancing-font);
    font-size: 34px
}

.event-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 12px;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
        
    }

}

.event-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 30px;
    gap: 40px;

     @media screen and (min-width: 768px) {
    flex-direction: row;
        
    }
}

.revert-wrapper {
     @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
        
    }
}