.home-page {
    background-color: white;
    background-image: url("/wedding-assets/announcement-bg.png");
}
.video-engagement-title {
    text-align: center;
    font-family: var(--dancing-font);
    font-size: 32px;
    color: #3D155F;
    margin-top: 72px;

    @media screen and (min-width: 768px) {
    font-size: 48px;
     }
}